! Nord theme
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

! Font
#define fontSize 12
#define fontFace MesloLGS NF

! special
*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4

! black
*.color0: nord1
*.color8: nord3

! red
*.color1: nord11
*.color9: nord11

! green
*.color2:  nord14
*.color10: nord14

! yellow
*.color3:  nord13
*.color11: nord13

! blue
*.color4:  nord9
*.color12: nord9

! magenta
*.color5:  nord15
*.color13: nord15

! cyan
*.color6:  nord8
*.color14: nord7

! white
*.color7:  nord5
*.color15: nord6

! fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

! xterm
*faceName:   fontFace
*faceSize:   fontSize
*renderFont: true

! urxvt
*fading:             35
*fadeColor:          nord3
*scrollBar:          false
*scrollBar_right:    false
*scrollBar_floating: false
*font:               xft:fontFace:size=fontSize
*boldFont:           xft:fontFace:size=fontSize:style=Bold
*italicFont:         xft:fontFace:size=fontSize:style=Italic
*boldItalicFont:     xft:fontFace:size=fontSize:style=Bold Italic
*letterSpace:        -1
*lineSpace:          0
*saveLines:          0
*depth:              32
*internalBorder:     6
*loginShell:         true
*borderless:         1
